<br/>
<div class = "container">
  <div class="jumbotron">
    <h1>Blocipedia</h1>
    <h3>Blocipedia is a wiki application</h3>
    <h3>that allows users to collaborate on editing of information.</h3>
  </div>
</div>