<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <% if @user %>    
      <h1>Edit Wiki</h1>
      <%= render partial: 'wikis/form', locals: {user: @user, wiki: @wiki} %>
    <% else %>
      <h2>You must sign in to edit wikis.</h2>
    <% end %>    
  </div>
</div>